<br> <br><h2>PAGE POTIN </h2>

<br>
  <p> Voici le potin n° <%= @gossip.id%><br/><br>
  L'auteur : <%= @gossip.user.first_name %><br/>
  Le titre : <%= @gossip.title %><br/>
  Créé le : <%= @gossip.created_at.strftime('%d/%m/%Y') %><br/>
  Le contenu du potin : <%= @gossip.content %><br><br>

  <%= link_to "Page de l'auteur", user_path, class: "btn btn-primary" %> <br><br><br><hr/><br><br><br><hr/>

  </p>


