<h2>PAGE USER </h2>

  <p> Voici le profil de l'utilisateur <%= @gossip.user.first_name%><br/>
  Description : <%= @gossip.user.description %><br/>
  Age : <%= @gossip.user.age %><br/>
  Email : <%= @gossip.user.email %><br/>
  Ville : <%= @gossip.user.city %>  
  </p>

